<section class="hp-news">
  <div class="container">
    <h4 class="h2 mb-md-12 mb-8 text-center">Novinky ze světa miniházené</h4>
    <div class="row g-6 mb-12">
      <div class="col-lg-4 col-md-6">
        <a href="#" class="postItem">
          <div class="postItem__img">
            <img
              loading="lazy"
              width="422"
              height="250"
              srcset="https://picsum.photos/422/250 320w"
              alt="post"
            />
            <div class="tag-white">12.5.2024</div>
          </div>
          <div class="h5">
            ČEPS Cup chlapců má nového šampiona. Dramatické finále ovládly..
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-6">
        <a href="#" class="postItem">
          <div class="postItem__img">
            <img
              loading="lazy"
              width="422"
              height="250"
              srcset="https://picsum.photos/422/250 320w"
              alt="post"
            />
            <div class="tag-white">12.5.2024</div>
          </div>
          <div class="h5">
            ČEPS Cup znovu zůstal "doma". Obhajobu slaví dívky ze ZŠ Campanus
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-6">
        <a href="#" class="postItem">
          <div class="postItem__img">
            <img
              loading="lazy"
              width="422"
              height="250"
              srcset="https://picsum.photos/422/250 320w"
              alt="post"
            />
            <div class="tag-white">12.5.2024</div>
          </div>
          <div class="h5">
            ČEPS Cup zná finalisty a finalistk EPS Cup zná finalisty a finalistk
            EPS Cup zná finalisty a finalistky! O vítězství v poháru základních
            škol...
          </div>
        </a>
      </div>
    </div>
    <div class="mt-12 text-center">
      <a href="#" class="button-accent">Další novinky</a>
    </div>
  </div>
</section>
