<section class="article-section">
  <div class="article-section__img">
    <img
      srcset="images/content/article.png 1440w, images/content/article.png 930w"
      width="440"
      height="346"
      loading="lazy"
      class="rounded-6 object-fit-cover w-100"
      alt="album"
    />
    <div class="container postition-relative">
      <img
        class="article-section__img-heart"
        src="images/content/heart-article.png"
        alt="heart"
      />
      <img
        class="article-section__img-stars"
        src="images/content/stars-article.png"
        alt="stars"
      />
    </div>
  </div>
  <div class="container">
    <div class="article-section__header">
      <div class="article-section__categorie mb-6">Kategorie</div>
      <h1 class="h2 mb-6">
        Los Chance Extraligy 25/26: Mistr míří jako první do Nového Veselí, tři
        kluby budou hrát v Evropě
      </h1>
      <ul class="article-section__tags">
        <li>18.06.2025</li>
        <li>Autor Článku</li>
      </ul>
    </div>
  </div>
  <div class="container-medium">
    <div class="text-base-semibold mb-6">
      Perex. Spojuje je láska k házené a radost ze sportu. Naši ambasadoři jsou
      rozmanití, ale všichni se stali součástí projektu Školních lig stejně jako
      vy. Setkat se s nimi můžete dokonce také na jednotlivých turnajích.
      Všichni jsme házenkáři.
    </div>
    <div class="o-content">
      <h3>Heading 3</h3>
      <p>
        Po letní pauze nás v září čeká opět nová sezona Chance Extraligy, která
        každoročně nabízí atraktivní utkání. Rozlosováno je už na celou základní
        část. První kolo se rozehraje 6. - 7. září. Systém soutěže zůstává
        stejný až na play-off, které se následující rok odehraje ve stylu
        letošní čtvrtfinálové série kromě boje o třetí místo, který se rozhodne
        na dva vítězné zápasy. Reprízu posledního finálového duelu uvidíme v
        základní části v sedmém kole na půdě mistrovské Karviné.
      </p>
      <img srcset="https://picsum.photos/950/534" loading="lazy" alt="photo" />
      <h3>Heading 3</h3>
      <p>
        V baráži letos Maloměřice překvapil Zlín, který po remíze a následné
        výhře postoupil z 1. ligy a poslal tam Majlont místo sebe. Na svém
        startu v nejvyšší české soutěži přivítá doma Brno a už v třetím kole se
        postaví proti bronzové Dukle.
      </p>
      <p>
        Tři kluby se tento ročník představí také v Evropě. V předkolech Evropské
        ligy bude jako minulou sezonu bojovat Karviná, která se loni dostala do
        základní části přes bosenský Izvidač a ve skupinové tabulce nakonec
        skončila třetí. O titul v Evropském poháru bude usilovat Dukla a Brno.
      </p>
      <iframe
        width="740"
        height="440"
        src="https://www.youtube.com/embed/OSX28mBoywo?si=d6Zv2XRofnk8PYj3"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
      <p>
        V baráži letos Maloměřice překvapil Zlín, který po remíze a následné
        výhře postoupil z 1. ligy a poslal tam Majlont místo sebe. Na svém
        startu v nejvyšší české soutěži přivítá doma Brno a už v třetím kole se
        postaví proti bronzové Dukle.
      </p>
      <div class="galleryBox">
        <a
          href="#"
          data-source="/skolni-liga-hazena/build/ajax-gallery.json"
          data-gallery-id="1"
        >
          <img
            loading="lazy"
            width="306"
            height="187"
            srcset="https://picsum.photos/306/187 320w"
            alt="photo"
          />
        </a>
        <a
          href="#"
          data-source="/skolni-liga-hazena/build/ajax-gallery.json"
          data-gallery-id="1"
        >
          <img
            loading="lazy"
            width="306"
            height="187"
            srcset="https://picsum.photos/306/187 320w"
            alt="photo"
          />
        </a>
        <a
          href="#"
          data-source="/skolni-liga-hazena/build/ajax-gallery.json"
          data-gallery-id="1"
        >
          <img
            loading="lazy"
            width="306"
            height="187"
            srcset="https://picsum.photos/306/187 320w"
            alt="photo"
          />
        </a>
        <a
          href="#"
          data-source="/skolni-liga-hazena/build/ajax-gallery.json"
          data-gallery-id="1"
        >
          <img
            loading="lazy"
            width="306"
            height="187"
            srcset="https://picsum.photos/306/187 320w"
            alt="photo"
          />
        </a>
        <a
          href="#"
          data-source="/skolni-liga-hazena/build/ajax-gallery.json"
          data-gallery-id="1"
        >
          <img
            loading="lazy"
            width="306"
            height="187"
            srcset="https://picsum.photos/306/187 320w"
            alt="photo"
          />
        </a>
        <a
          href="#"
          data-source="/skolni-liga-hazena/build/ajax-gallery.json"
          data-gallery-id="1"
        >
          <img
            loading="lazy"
            width="306"
            height="187"
            srcset="https://picsum.photos/306/187 320w"
            alt="photo"
          />
        </a>
      </div>
      <p>
        V baráži letos Maloměřice překvapil Zlín, který po remíze a následné
        výhře postoupil z 1. ligy a poslal tam Majlont místo sebe. Na svém
        startu v nejvyšší české soutěži přivítá doma Brno a už v třetím kole se
        postaví proti bronzové Dukle.
      </p>
    </div>
  </div>
  <div class="article-section__news">
    <div class="container">
      <h4 class="h2 mb-md-12 mb-8 text-center">Související články</h4>
      <div class="row g-6 mb-12">
        <div class="col-lg-4 col-md-6">
          <a href="#" class="postItem">
            <div class="postItem__img">
              <img
                loading="lazy"
                width="422"
                height="250"
                srcset="https://picsum.photos/422/250 320w"
                alt="post"
              />
              <div class="tag-white">12.5.2024</div>
            </div>
            <div class="h5">
              ČEPS Cup chlapců má nového šampiona. Dramatické finále ovládly..
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-md-6">
          <a href="#" class="postItem">
            <div class="postItem__img">
              <img
                loading="lazy"
                width="422"
                height="250"
                srcset="https://picsum.photos/422/250 320w"
                alt="post"
              />
              <div class="tag-white">12.5.2024</div>
            </div>
            <div class="h5">
              ČEPS Cup znovu zůstal "doma". Obhajobu slaví dívky ze ZŠ Campanus
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-md-6">
          <a href="#" class="postItem">
            <div class="postItem__img">
              <img
                loading="lazy"
                width="422"
                height="250"
                srcset="https://picsum.photos/422/250 320w"
                alt="post"
              />
              <div class="tag-white">12.5.2024</div>
            </div>
            <div class="h5">
              ČEPS Cup zná finalisty a finalistk EPS Cup zná finalisty a
              finalistk EPS Cup zná finalisty a finalistky! O vítězství v poháru
              základních škol...
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
