.join-section {
  &__map {
    margin: 0 auto 80px;
    width: 100%;

    position: relative;
    &::before {
      content: "";
      position: absolute;
      right: -7rem;
      bottom: 0;

      background-image: url("../images/content/turnaje-stars-1.png");
      background-repeat: no-repeat;
      background-size: contain;
      width: 10rem;
      height: 10rem;
      -webkit-transform: rotate(15deg);
      transform: rotate(15deg);
      @include media-breakpoint-down(lg) {
        display: none;
      }
    }
    @include media-breakpoint-down(md) {
      margin-bottom: 60px;
    }
    img {
      max-width: 900px;
      width: 100%;
      aspect-ratio: 900/500;
      object-fit: contain;
      margin: 0 auto;
      height: auto;
    }
  }
  &__invite {
    border-radius: 24px;
    max-width: 960px;
    margin: 0 auto 80px;
    background: var(--color-primary);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 40px;
    @include media-breakpoint-down(md) {
      margin-bottom: 60px;
    }
    &::before {
      content: "";
      position: absolute;
      left: 5rem;
      bottom: 0;
      background-image: url("../images/content/map-mice.png");
      background-repeat: no-repeat;
      background-size: contain;
      width: 7.5rem;
      height: 7.5rem;
      @include media-breakpoint-down(md) {
        width: 6rem;
        height: 6rem;
        left: 0;
      }
    }
    &::after {
      content: "";
      position: absolute;
      background-image: url("../images/content/card-decore-1.png");
      background-size: contain;
      background-repeat: no-repeat;
      width: 10rem;
      height: 10rem;
      transform: rotate(-16deg);
      right: 3rem;
      top: 1rem;
      bottom: auto;
      @include media-breakpoint-down(md) {
        width: 7rem;
        height: 7rem;
        top: auto;
        bottom: 0;
        right: 1rem;
      }
    }
  }
}

.map-decore {
  position: absolute;
  width: 10rem;
  height: 10rem;
  transform: rotate(110deg);
  left: -7rem;
  bottom: -6rem;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  @include media-breakpoint-down(lg) {
    display: none;
  }
}
