<section class="hero">
  <div class="container">
    <div class="hero__inner">
      <div class="hero__content">
        <h1 class="h1 mb-md-8 mb-6">
          Hraj s námi <br />
          miniházenou
        </h1>
        <p class="text-base-normal mb-md-8 mb-6">
          Hraj miniházenou ve školním turnaji, kterého se účastní více než 3 689
          hráčů a 129 škol po celé republice.
        </p>
        <div class="d-flex gap-md-4 gap-3 align-items-center">
          <a href="#" class="button-accent">Zapojit se</a>
          <a href="#" class="button-secondary">O miniházené</a>
        </div>
      </div>

      <div class="hero__stats">
        <div class="stat-card stat-card--top">
          <img
            src="images/content/hero-1.png"
            width="325"
            height="211"
            alt="Děti hrající miniházenou"
            class="stat-card__img"
          />
          <div class="stat-card__label">
            <div class="text-accent text-xl-semibold">2 400</div>
            děti
          </div>
        </div>
        <div class="stat-card stat-card--middle">
          <img
            src="images/content/hero-2.png"
            width="251"
            height="294"
            alt="Vítězové turnaje drží pohár"
            class="stat-card__img"
          />
          <div class="stat-card__label stat-card__label-left">
            <div class="text-accent text-xl-semibold">240+</div>
             škol
          </div>
          <div class="stat-card__label stat-card__label-top">
            <div class="text-accent text-xl-semibold">320+</div>
            učitelů
          </div>
        </div>
        <div class="stat-card stat-card--bottom">
          <img
            src="images/content/hero-3.png"
            width="261"
            height="168"
            alt="Tým dává high-five"
            class="stat-card__img"
          />
          <div class="stat-card__label">
            <div class="text-accent text-xl-semibold">42+</div>
             klubů
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
