.hero {
  background-color: var(--color-primary);

  color: var(--color-white);
  margin-bottom: 8.4rem;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../images/content/hero-bottom.png");
    bottom: -54px;
    height: 54px;
    background-position: left;
  }
  &__inner {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    align-items: center;
    padding: 100px 0;
    position: relative;
    @include media-breakpoint-down(xl) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    @include media-breakpoint-up(xl) {
      gap: 2rem;
    }
    @include media-breakpoint-up(sm) {
      gap: 9rem;
    }
    @include media-breakpoint-down(sm) {
      gap: 4rem;
    }
  }
  &__content {
    max-width: 30.5rem;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 76px;
      height: 76px;
      top: -154px;
      left: 64px;
      background-image: url("../images/content/hero-star.png");
      background-size: contain;
      background-repeat: no-repeat;
      z-index: 1;
      @include media-breakpoint-down(xl) {
        left: 0;
        top: -4.625rem;
      }
    }
    &::after {
      content: "";
      position: absolute;
      width: 81px;
      height: 81px;
      right: -0;
      bottom: -7rem;
      background-image: url("../images/content/run.png");
      background-size: contain;
      background-repeat: no-repeat;
      z-index: 1;
      @include media-breakpoint-down(sm) {
        display: none;
      }
    }
    .h1 {
      position: relative;
      z-index: 2;
      width: fit-content;
      &::before {
        content: "";
        position: absolute;
        top: 54px;
        z-index: -1;
        background-image: url("../images/ico/hero-title.svg");
        background-repeat: no-repeat;
        background-size: contain;
        width: 394px;
        height: 48px;
        left: 0;
        @include media-breakpoint-down(md) {
          top: 2.375rem;
          width: 17.625rem;
        }
      }
      &::after {
        content: "";
        position: absolute;
        width: 99px;
        height: 99px;
        top: -4.5rem;
        right: -40px;
        background-image: url("../images/content/hero-title-2.png");
        background-size: contain;
        background-repeat: no-repeat;
        z-index: 1;
        @include media-breakpoint-down(sm) {
          top: -5.5rem;
          right: -1.5rem;
        }
      }
    }
  }
}

// hero stats
.hero__stats {
  position: relative;
  width: 100%;
  height: 580px;
  max-width: 42.67rem;
  @include media-breakpoint-down(md) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0;
    height: auto;
  }
}
.stat-card {
  &__img {
    object-fit: cover;
    border-radius: 16px;
  }
}
.stat-card {
  position: absolute;
  @include media-breakpoint-down(md) {
    position: relative;
  }
}
.stat-card__label {
  position: absolute;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.015em;
  color: var(--color-primary);
  background-color: var(--color-white);
  padding: 6px 12px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 4px;
}
.stat-card--top {
  top: 0;
  left: 26px;
  right: 0;
  margin: 0 auto;
  width: fit-content;
  @include media-breakpoint-down(md) {
    left: 0;
    right: 0;
    top: 0;
    bottom: auto;
  }
  @include media-breakpoint-down(sm) {
    margin-bottom: 7rem;
  }
  &::before {
    content: "";
    position: absolute;
    right: -7rem;
    bottom: -4.2rem;
    background-image: url("../images/content/card-decore-1.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 192px;
    height: 192px;
    @include media-breakpoint-down(sm) {
      right: -1rem;
      bottom: -7.2rem;
    }
  }
  &::after {
    content: "";
    position: absolute;
    left: -8rem;
    top: -5.4rem;
    background-image: url("../images/content/mice.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 99px;
    height: 99px;
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
  .stat-card__label {
    left: -5rem;
    top: 6.4rem;
    @include media-breakpoint-down(sm) {
      top: -18px;
      transform: translateY(-50%);
      left: 0;
      right: 0;
      width: fit-content;
      margin: 0 auto;
    }
  }
}

.stat-card--middle {
  bottom: 0;
  left: 11.2%;
  @include media-breakpoint-only(sm) {
    width: fit-content;
    margin-top: 48px;
    left: 20%;
  }
  @include media-breakpoint-down(sm) {
    margin: 0 auto 4rem;
    left: 0;
    right: 0;
  }
  .stat-card__label-top {
    top: -12px;
    right: -58px;
    @include media-breakpoint-down(sm) {
      left: 0;
      right: 0;
      margin: 0 auto;
      width: fit-content;
      top: -18px;
    }
  }
  .stat-card__label-left {
    left: -80px;
    bottom: 40px;
    @include media-breakpoint-down(sm) {
      transform: translateY(50%);
      left: 0;
      right: 0;
      margin: 0 auto;
      width: fit-content;
      bottom: -18px;
    }
  }
  &::before {
    content: "";
    position: absolute;
    left: -5.7rem;
    top: -3.7rem;
    background-image: url("../images/content/hero-star-2.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 66px;
    height: 66px;
    @include media-breakpoint-down(sm) {
      left: -2.7rem;
    }
  }
}
.stat-card--bottom {
  bottom: 16%;
  right: 0;
  @include media-breakpoint-only(sm) {
    right: 20%;
    margin-left: auto;
    margin-top: 32px;
    bottom: 0;
  }
  @include media-breakpoint-down(sm) {
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: fit-content;
  }
  .stat-card__label {
    right: 44px;
    bottom: -18px;
    transform: translateY(50%);
    @include media-breakpoint-down(sm) {
      left: 0;
      right: 0;
      margin: 0 auto;
      width: fit-content;
    }
  }
  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -8rem;
    background-image: url("../images/content/bota.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 78px;
    height: 78px;
    @include media-breakpoint-down(md) {
      left: -20px;
      bottom: -6rem;
    }
  }
}

.hero__decore {
  position: absolute;
  object-fit: contain;
  bottom: -6rem;
  left: 20px;
  width: 120px;
  height: 120px;
  z-index: 2;
  @include media-breakpoint-down(md) {
    width: 100px;
    height: 100px;
  }
}
