.tournamentItem__list {
  display: grid;

  grid-template-columns:
    94px
    minmax(148px, 16rem)
    minmax(140px, 15rem)
    minmax(120px, 19rem);
  column-gap: 40px;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  width: calc(100% - 40px);
  @include media-breakpoint-up(xxl) {
    column-gap: 80px;
  }
  @include media-breakpoint-only(lg) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-auto-rows: auto;
    column-gap: 24px;
    row-gap: 12px;
  }
  @include media-breakpoint-only(md) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-auto-rows: auto;
    column-gap: 24px;
    row-gap: 12px;
  }
  @include media-breakpoint-down(md) {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-auto-rows: auto;
    column-gap: 24px;
    row-gap: 12px;
  }
}

.tournamentItem__list li {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.015em;
}

.tournamentItem__list li:not(:first-child)::before {
  content: "";
  position: absolute;
  left: -40px;
  width: 1px;
  height: 16px;
  background-color: var(--color-light);
  left: -20px;
  @include media-breakpoint-up(xxl) {
    left: -40px;
  }
  @include media-breakpoint-down(lg) {
    display: none;
  }
}
.tournamentItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 24px;
  background-color: var(--color-white);
  border-radius: 16px;
  border: 1px solid transparent;
  width: 100%;
  text-decoration: none;
  svg {
    width: 24px;
    height: 24px;
    transition: all 0.3s;
  }
}
a.tournamentItem:hover {
  background: var(--color-accent);
  color: var(--color-white);
  .icon-pin path {
    fill: var(--color-white);
  }
  .icon-chevron-right path {
    stroke: var(--color-white);
  }
}
.hp-tournaments {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 2rem;
    background-image: url("../images/content/turnaje-stars-2.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 9.625rem;
    height: 9.625rem;

    @include media-breakpoint-down(lg) {
      top: -1rem;
    }
  }
  .h2 {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      right: 2.2rem;
      top: -2.2rem;
      background-image: url("../images/content/turnaje-stars-1.png");
      background-repeat: no-repeat;
      background-size: contain;
      width: 86px;
      height: 86px;
      @include media-breakpoint-down(lg) {
        display: none;
      }
    }
  }
  .container {
    @include media-breakpoint-down(md) {
      padding: 0 !important;
    }
  }
}

.tournamentItem__info {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -16px;
  gap: 8px 0;
  li {
    padding: 0 16px;
    position: relative;
    display: flex;
    align-items: center;
  }
  li:not(:last-child)::before {
    content: "";
    position: absolute;
    right: 0;
    width: 1px;
    height: 16px;
    background: var(--color-stroke-secondary);
  }
}
