<section class="hp-tournaments">
  <div class="container">
    <h5 class="h2 mb-12">Nejbližší turnaje</h5>
    <div class="bg-light p-10 rounded-4">
      {% include "@components/tournamentsItem/tournamentsItem.twig" %}
    </div>
  </div>
</section>
