.hp-social {
  padding: 54px 0 80px;
  position: relative;
  &__inner {
    padding: 100px 0 74px;
    background: var(--color-secondary);
    @include media-breakpoint-down(md) {
      padding: 3.5rem 0 1rem;
    }
    &::before {
      content: "";
      position: absolute;
      background-image: url("../images/content/social-heart-2.png");
      background-repeat: no-repeat;
      background-size: contain;
      width: 6rem;
      height: 6rem;
      left: 21%;
      bottom: 5rem;
      @include media-breakpoint-down(md) {
        left: 20px;
      }
    }
  }
  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;

    background-size: cover;
    background-repeat: no-repeat;
  }
  &::before {
    background-image: url("../images/content/social-header.png");
    top: -0;
    height: 54px;
  }
  &::after {
    background-image: url("../images/content/social-footer.png");
    bottom: -0px;
    height: 80px;
  }
}

.socialItem {
  border-radius: 16px;
  overflow: hidden;
  text-decoration: none;
  display: block;
  &:hover {
    .socialItem__img img {
      transform: scale(1.05);
    }
  }
  &__icon {
    width: 24px;
    height: 24px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &__logo {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__img {
    aspect-ratio: 310/205;

    width: 100%;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.3s;
    }
  }
  p {
    -webkit-line-clamp: 2;
    max-height: calc(1.5em * 2);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.social-title {
  position: relative;
  width: fit-content;
  @include media-breakpoint-up(lg) {
    padding: 0 128px;
  }
  @include media-breakpoint-up(md) {
    padding: 0 80px;
  }
  &::before {
    content: "";
    position: absolute;
    background-image: url("../images/content/social-heart.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 9rem;
    height: 9rem;
    top: -94px;
    right: -16px;
    @include media-breakpoint-down(md) {
      width: 6rem;
      height: 6rem;
      top: -4.875rem;
      right: -2rem;
    }
  }
}
