<section class="hp-social">
  <div class="hp-social__inner">
    <div class="container">
      <h6 class="h2 text-center mb-md-12 mb-8 social-title mx-auto">
        Sledujte nás na sítích
      </h6>
      <div class="row g-6">
        <div class="col-xl-3 col-md-6">
          <a href="#" target="_blank" class="socialItem">
            <div class="pt-6 pb-4 px-4 bg-white">
              <div class="d-flex gap-2 flex-wrap justify-content-between mb-2">
                <div class="d-flex gap-2 flex-wrap">
                  <div class="socialItem__logo">
                    <img src="images/content/social-logo.png" alt="" />
                  </div>
                  <div class="text-start">
                    <div class="text-base-semibold">Školní liga</div>
                    <div class="text-secondary text-sm-regular">14.2.2024</div>
                  </div>
                </div>
                <div class="socialItem__icon">
                  <img src="images/content/insta.png" alt="instagram" />
                </div>
              </div>
              <p>ČEPS Cup chlapců má nového šampiona. Dramatické finále...</p>
            </div>
            <div class="socialItem__img">
              <img
                loading="lazy"
                width="310"
                height="205"
                srcset="https://picsum.photos/422/250 320w"
                alt="social-photo"
              />
            </div>
          </a>
        </div>
        <div class="col-xl-3 col-md-6">
          <a href="#" target="_blank" class="socialItem">
            <div class="pt-6 pb-4 px-4 bg-white">
              <div class="d-flex gap-2 flex-wrap justify-content-between mb-2">
                <div class="d-flex gap-2 flex-wrap">
                  <div class="socialItem__logo">
                    <img src="images/content/social-logo.png" alt="" />
                  </div>
                  <div class="text-start">
                    <div class="text-base-semibold">Školní liga</div>
                    <div class="text-secondary text-sm-regular">14.2.2024</div>
                  </div>
                </div>
                <div class="socialItem__icon">
                  <img src="images/content/insta.png" alt="instagram" />
                </div>
              </div>
              <p>ČEPS Cup chlapců má nového šampiona. Dramatické finále...</p>
            </div>
            <div class="socialItem__img">
              <img
                loading="lazy"
                width="310"
                height="205"
                srcset="https://picsum.photos/422/250 320w"
                alt="social-photo"
              />
            </div>
          </a>
        </div>
        <div class="col-xl-3 col-md-6">
          <a href="#" target="_blank" class="socialItem">
            <div class="pt-6 pb-4 px-4 bg-white">
              <div class="d-flex gap-2 flex-wrap justify-content-between mb-2">
                <div class="d-flex gap-2 flex-wrap">
                  <div class="socialItem__logo">
                    <img src="images/content/social-logo.png" alt="" />
                  </div>
                  <div class="text-start">
                    <div class="text-base-semibold">Školní liga</div>
                    <div class="text-secondary text-sm-regular">14.2.2024</div>
                  </div>
                </div>
                <div class="socialItem__icon">
                  <img src="images/content/insta.png" alt="instagram" />
                </div>
              </div>
              <p>ČEPS Cup chlapců má nového šampiona.</p>
            </div>
            <div class="socialItem__img">
              <img
                loading="lazy"
                width="310"
                height="205"
                srcset="https://picsum.photos/422/250 320w"
                alt="social-photo"
              />
            </div>
          </a>
        </div>
        <div class="col-xl-3 col-md-6">
          <a href="#" target="_blank" class="socialItem">
            <div class="pt-6 pb-4 px-4 bg-white">
              <div class="d-flex gap-2 flex-wrap justify-content-between mb-2">
                <div class="d-flex gap-2 flex-wrap">
                  <div class="socialItem__logo">
                    <img src="images/content/social-logo.png" alt="" />
                  </div>
                  <div class="text-start">
                    <div class="text-base-semibold">Školní liga</div>
                    <div class="text-secondary text-sm-regular">14.2.2024</div>
                  </div>
                </div>
                <div class="socialItem__icon">
                  <img src="images/content/insta.png" alt="instagram" />
                </div>
              </div>
              <p>
                ČEPS Cup chlapců má nového šampiona. Dramatické finále chlapců
                má nového šampiona. Dramatické finále...
              </p>
            </div>
            <div class="socialItem__img">
              <img
                loading="lazy"
                width="310"
                height="205"
                srcset="https://picsum.photos/422/250 320w"
                alt="social-photo"
              />
            </div>
          </a>
        </div>
      </div>
      <div class="mt-12 text-center">
        <a href="#" class="button-accent">Sledujte nás</a>
      </div>
    </div>
  </div>
</section>
