[class^="button"] {
  display: inline-flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;

  padding: 12px 24px;
  border-radius: 100px;
  transition: color 0.2s, background-color 0.2s, box-shadow 0.2s;
  text-decoration-color: transparent !important;
  cursor: pointer;
  svg path {
    transition: all 0.2s;
  }
}

.button-accent {
  background-color: var(--color-accent);
  color: var(--color-white);
  border: 2px solid var(--color-accent);

  &:hover,
  &:focus-visible {
    background-color: var(--color-white);
    color: var(--color-accent);
  }
  svg path {
    fill: var(--color-accent);
  }

  svg path {
    fill: var(--color-white);
  }
}
