.menuLinks {
  display: flex;
  align-items: center;
  gap: 24px 40px;
  flex-wrap: wrap;
  margin-bottom: 64px;

  @include media-breakpoint-down(md) {
    gap: 12px 24px;
    margin-bottom: 32px;
  }
  .active::before {
    background-color: var(--color-accent);
  }
  button:hover:not(.active),
  a:hover:not(.active) {
    color: var(--color-accent);
  }
  button,
  a {
    display: block;
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 0.015em;
    position: relative;
    padding-bottom: 16px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    background: transparent;
    padding-inline: 0;
    @include media-breakpoint-down(md) {
      font-size: 18px;
      line-height: 120%;
      padding-bottom: 8px;
    }
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 4px;
      background-color: transparent;
    }
  }
}
