/*! purgecss start ignore */
.select2-container--default
  .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: var(--color-primary);
}
.select2-container {
  max-width: fit-content;
  .select2-selection--single {
    height: auto;
    padding: 0.3rem 2.2rem 0.4rem 0.5rem;
    border-color: var(--color-primary);
    outline: solid transparent 1px;
    transition: all 0.3s;
  }
}

.-error {
  .select2-container {
    .select2-selection--single {
      border-color: var(--color-primary);
      outline-color: var(--color-primary);
    }
  }
}
.-disabled {
  cursor: not-allowed;
  * {
    cursor: not-allowed;
  }

  .select2-container {
    .select2-selection--single {
      background-color: var(--color-primary);
      border-color: #adadad;
      b {
        opacity: 0.2;
      }
    }
  }
}

.select2-dropdown {
  z-index: 99999;
  top: 2px;
  border: 0;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 4px 5px rgba(0, 0, 0, 0.12),
    0px 1px 10px rgba(0, 0, 0, 0.2);
}
.select2-results__options {
  font-size: 12px;
  text-transform: uppercase;

  > li {
    padding: 4px 12px;
    font-weight: 500;
    > span {
      align-items: center;
      display: flex;
      width: 100%;
      img {
        margin-right: 16px;
      }
    }
  }
  .select2-results__option--selected {
    background-color: var(--color-primary) !important;
    color: var(--color-light);
  }
  .select2-results__option--highlighted  {
    background-color: var(--color-primary) !important;
  }
}
.select2-container .select2-selection--single .select2-selection__rendered {
  color: var(--color-light);
  font-size: 16px;
  padding: 0;
}

.formular__select {
  .select2-container--default .select2-selection--single {
    height: 60px;
    border-radius: 16px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: var(--color-white);
    font-size: 12px;
    font-weight: 500;
    line-height: 0;
    padding-left: 24px;
    padding-right: 24px;
    @include media-breakpoint-down(lg) {
      width: 100%;
    }
  }
  .select2-container {
    max-width: 100%;
    width: 100%;
  }
  .select2-container .select2-selection--single .select2-selection__rendered {
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.015em;
    color: var(--color-dark);
    margin-top: 4px;
  }
  .select2-container--default
    .select2-selection--single
    .select2-selection__arrow {
    width: 12px;
    height: 6px;
    right: 24px;
    top: 50%;
    transform: translateY(-50%);
    b {
      background-image: url("../images/ico/chevron-down.svg");
      background-repeat: no-repeat;
      background-size: contain;
      border: none;
      width: 100%;
      height: 100%;
    }
  }
  .select2-container .select2-selection--single {
    border-color: var(--color-stroke-secondary);
  }
  .select2-container--open {
    .select2-selection--single {
      border-color: var(--color-primary);
      outline-color: var(--color-primary);
    }
  }
}

.menuFilter__select {
  .select2-results__options .select2-results__option--highlighted,
  .select2-results__options .select2-results__option--highlighted {
    background-color: var(--color-accent) !important;
  }
  .select2-container {
    @include media-breakpoint-down(md) {
      max-width: inherit;
    }
  }
  .select2-container .select2-selection--single .select2-selection__rendered {
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0.015em;
    color: var(--color-accent);
  }
  .select2-container--default .select2-selection--single {
    height: 60px;
    border-radius: 100px !important;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: var(--color-white);
    padding-left: 24px;
    padding-right: 5rem;
    min-width: fit-content;

    @include media-breakpoint-down(lg) {
      width: 100%;
    }
  }
  .select2-container .select2-selection--single {
    border-color: var(--color-accent);
  }
  .select2-container--open {
    .select2-selection--single {
      border-color: var(--color-accent);
      outline-color: var(--color-accent);
    }
  }
  .select2-container--default
    .select2-selection--single
    .select2-selection__arrow {
    width: 12px;
    height: 6px;
    right: 24px;
    top: 50%;
    transform: translateY(-50%);
    b {
      background-image: url("../images/ico/chevron-down-2.svg");
      background-repeat: no-repeat;
      background-size: contain;
      border: none;
      width: 100%;
      height: 100%;
    }
  }
}

.select2-container--default .select2-selection--multiple {
  border: 0.0625rem solid var(--color-stroke-secondary);
  border-radius: 1rem;
  display: flex !important;
  align-items: center;
  width: 100%;
  height: auto;
  min-height: 3.75rem;
  outline: 0.0625rem solid transparent !important;
  transition: all 0.2s;
  padding: 0 1.5rem;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0.015em;
  font-size: 0.875rem;
  line-height: 100%;
  letter-spacing: 0.015em;
  color: var(--color-dark);
  opacity: 1;
  position: relative;
  cursor: pointer;
  padding: 16px;
  padding-right: 42px;
  &::before {
    content: "";
    position: absolute;
    right: 24px;
    top: 50%;
    transform: translateY(-50%);
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../images/ico/chevron-down.svg");
    width: 12px;
    height: 6px;
  }
}
.js-select-multiple {
  .select2-container {
    width: 100% !important;
  }
}

.select2-container .select2-search--inline .select2-search__field {
  line-height: inherit;
  margin-top: 0;

  align-content: center;
  font-family: Poppins, sans-serif !important;
  color: var(--color-dark);

  margin-left: 0;
}
.select2-container--default.select2-container--focus
  .select2-selection--multiple {
  border: 1px solid var(--color-primary);
  outline-color: var(--color-primary) !important;
}
.select2-container .select2-selection--multiple .select2-selection__rendered {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}
.select2-container--default
  .select2-selection--multiple
  .select2-selection__choice {
  background-color: var(--color-primary);
  padding: 6px 8px 6px 4px;
  display: flex;
  align-items: center;
  gap: 4px;
  margin: 0;
  color: var(--color-white);
}
.select2-container--default
  .select2-selection--multiple
  .select2-selection__choice__remove {
  border-color: var(--color-white);
  color: var(--color-white);
  display: block;
  position: relative;
  font-weight: 500;
  font-size: 1.4rem;
  cursor: pointer;
}
.select2-container--default
  .select2-selection--multiple
  .select2-selection__choice__remove:focus,
.select2-container--default
  .select2-selection--multiple
  .select2-selection__choice__remove:hover {
  background-color: transparent;
  color: var(--color-white);
  opacity: 0.5;
}

/*! purgecss end ignore */
