<header class="header">
  <div class="container">
    <div class="header__inner">
      <a href="#" class="header__logo">
        <img src="images/content/logo.png" alt="logo" />
      </a>
      <div class="header__content">
        <nav class="navbar">
          <ul class="navbar__menu">
            <li class="navbar__menu-list">
              <a href="#" class="navbar__menu-item"> Miniházená </a>
            </li>
            <li class="navbar__menu-list">
              <a href="#" class="navbar__menu-item"> Chci se zapojit </a>
            </li>
            <li class="navbar__menu-list">
              <div class="navbar__menu-item">Školní ligy</div>
              <ul class="dropdown-menu">
                <li class="dropdown-menu__list">
                  <a href="#">Články</a>
                </li>
                <li class="dropdown-menu__list">
                  <a href="#">Zápasy & výsledky </a>
                </li>
                <li class="dropdown-menu__list">
                  <a href="#">Statistiky </a>
                </li>
                <li class="dropdown-menu__list">
                  <a href="#">Dokumenty </a>
                </li>
              </ul>
            </li>
            <li class="navbar__menu-list">
              <a href="#" class="navbar__menu-item"> Jak trénovat </a>
            </li>
            <li class="navbar__menu-list">
              <a href="#" class="navbar__menu-item"> Ambasadoři </a>
            </li>
            <li class="navbar__menu-list">
              <a href="#" class="navbar__menu-item"> Kontakty </a>
            </li>
          </ul>
          <a href="#" class="button button-accent"> Přihlášení </a>
        </nav>
        <button class="c-header__opener js-header__opener" type="button">
          <span></span>
        </button>
      </div>
    </div>
  </div>
</header>
