<footer class="footer">
  <div class="container">
    <div
      class="d-flex flex-lg-row flex-columns justify-content-lg-between justify-content-center align-items-center g-10 flex-wrap border-top border-color-primary py-lg-10 py-8 border-bottom gap-8"
    >
      <a href="#" class="footer__logo">
        <img
          src="images/content/logo.png"
          width="107 "
          height="64"
          class="object-fit-content"
          alt=""
        />
      </a>
      <ul
        class="footer__menu d-flex align-items-center flex-wrap hover-underline"
      >
        <li>
          <a href="#"> Miniházená</a>
        </li>
        <li>
          <a href="#">Chci se zapojit</a>
        </li>
        <li>
          <a href="#">Školní ligy</a>
        </li>
        <li>
          <a href="#">Jak trénovat</a>
        </li>
        <li>
          <a href="#">Ambasadoři</a>
        </li>
        <li>
          <a href="#">Kontakty</a>
        </li>
      </ul>
    </div>
    <ul class="footer__bottom py-lg-10 py-8 hover-underline text-sm-regular">
      <li>
        © Copyright 2025 Školní liga miniházené &
        <a href="https://esportsmedia.cz/" target="_blank">Esports s.r.o</a>.
      </li>
      <li>
        <a href="#">Ochrana osobních údajů</a>
      </li>
      <li>
        <a href="#">Nastavení cookies</a>
      </li>
    </ul>
  </div>
</footer>
