:root {
  --color-light: #f6fafc;
  --color-white: #fff;
  --color-dark: #000;
  --color-stroke-primary: #ecf0f7;
  --color-stroke-secondary: #e0eaf0;
  --bs-border-width: 1px;
  --bs-border-color: var(--color-stroke-primary);
  --bs-border-style: solid;

  --color-text-primary: #131313;
  --color-text-secondary: #9a9a9a;
  --color-body-secondary: #96d8ff;

  --color-primary: #005384;
  --color-hover-primary: #003c5e;
  --color-accent: #da001a;
  --color-hover-accent: #af0015;
  --color-secondary: #ffdde0;

  --color-text-deco-1: #ce27d8;
  --color-main-deco-1: #f5d3f7;

  --color-text-deco-2: #05adba;
  --color-main-deco-2: #c0f5f9;

  --color-main-deco-3: #cef9b7;
  --color-text-deco-3: #3d980c;
}
