:root {
  --color-light: #ecf0f7;
  --color-white: #fff;
  --color-dark: #000;
  --color-stroke-primary: #ecf0f7;
  --bs-border-width: 1px;
  --bs-border-color: var(--color-stroke-primary);
  --bs-border-style: solid;

  --color-text-primary: #131313;
  --color-text-secondary: #9a9a9a;

  --color-primary: #005384;
  --color-accent: #da001a;
  --color-secondary: #ffdde0;
}
